/* 
Para as widths:

- Mobile: 375px
- Desktop: 1440px
 */

 * {
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: var(--white);
 }

 :root {
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
 }

body {
    background-color: var(--veryDarkBlue);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

 main {
    background-color: var(--darkBlue);
    max-width: 14em;
    padding: 14px;
    height: 40vh;
    border-radius: 10px;
 }

 button[type="button"] {
    background-color: var(--mediumGrey);
 }

 button[type="submit"] {
    background-color: var(--orange);
 }